{% extends "base.html" %}
{% block title %}Random Password Generator{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<div class="container">
  <h1>Random Password Generator</h1>
  {% if mess%}
  <div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert_mess" id="alert_mess">
    <span>{{ mess }}</span>
    <img src="/static/images/close.png" id="alert_mess_close" class="close_icon opacity_5"/>
  </div>
  {% endif %}
  <form action='/gen_password' method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-4 pt-5">
    <div class="d-flex flex-row gap-2 flex-wrap align-items-center">
      <div class="d-flex flex-row gap-2 align-items-center">
        <label for="passlen"><b>Enter Password Length:</b></label>
        <input type="number" id="passlen" name='passlen' required value="{{passlen}}">
      </div>
      <div class="d-flex flex-row gap-2 align-items-center">
        <label for="num_gen"><b>Enter number of generation:</b></label>
        <input type="number" id="num_gen" name='num_gen' required value="{{num_gen or 1}}">
      </div>
    </div>
    <div class="d-flex flex-row gap-2 flex-wrap">
      <div class="form-check">
          <input class="form-check-input" type="checkbox" name="includespaces" id="includespaces" {% if include_spaces %}checked{% endif %}>
          <label for="includespaces" class="form-check-label" for="flexCheckChecked">Include Spaces</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" name="includenumbers" id="includenumbers" {% if include_numbers %}checked{% endif %}>
          <label for="includenumbers" class="form-check-label" for="flexCheckChecked">Include Numbers</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" name="includespecialchars" id="includespecialchars" {% if include_special_chars %}checked{% endif %}>
          <label for="includespecialchars" class="form-check-label" for="flexCheckChecked">Include Symbols</label>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" name="includeuppercaseletters" id="includeuppercaseletters" {% if include_uppercase_letters %}checked{% endif %}>
          <label for="includeuppercaseletters" class="form-check-label" for="flexCheckChecked">Include UpperCase Letters</label>
      </div>
    </div>
    <div class="pb-5">
      <button type='submit' class='btn btn-success'>Generate Password</button>
    </div>
  </form>
  {% if gen_passwords %}
  <div class="col-12 col-md-6 d-flex flex-column align-items-start gap-2 alert alert-success" role="alert">
    <div class="p-1 border rounded btn btn-light pointer align-self-end" onclick="copy()">
      <span>{% if gen_passwords|length > 1 %}Copy all{% else %}Copy{% endif %}</span>
    </div>
    <h3>Generated Passwords:</h3>
    <hr class="w-100">
    <div id="gen_passwords">
      {% for gen_password in gen_passwords %}
      <h4><b>{{ gen_password }}</b></h4>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const messClose = document.getElementById("alert_mess_close");

    if (messClose) {
      messClose.addEventListener('click', () => {
        const success = document.getElementById("alert_mess");
        success.classList.remove("d-flex");
        success.classList.add("d-none");
      });
    }

    if (invalidClose) {
      invalidClose.addEventListener('click', () => {
        const invalid = document.getElementById("alert_invalid");
        invalid.classList.remove("d-flex");
        invalid.classList.add("d-none");
      });
    }
  });
  function copy() {
    const gen_passwords = document.getElementById("gen_passwords");
    const range = document.createRange();
    range.selectNode(gen_passwords);
    window.getSelection().removeAllRanges();
    window.getSelection().addRange(range);
    document.execCommand("copy");
    window.getSelection().removeAllRanges();
  }
</script>
{% endblock %}